*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 8px;
    z-index: 1;
    font-family: "Germania One", system-ui;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 800px) {
    *{
        font-size: 2px;
    }
}

header{
 text-align: center;
 background-color: black;
 color:white;
 height: 100vh;
}

.audio{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:2vh 0 2vh 0;
   
}

img{
    width: 5vw;
}

.audio p{
    font-size: 5rem;
}

h1{
 font-size: 30rem;
letter-spacing: 1rem;
word-spacing: 3rem;
padding: calc(50vh - 35rem) 0 0 0;
}

.scrollText p{
    text-align: center;
    margin: 50vh 0 0 0;
    font-size: 30rem;
    background-color: white;
    position: sticky;
    top:35vh;
}

.scrollText p:nth-last-child(1){
    padding: 0 0 30vh 0;
}

.nuKommerDet{
    background-color: black;
    color:white;
}
.nuKommerDet p{
font-size: 25rem;
text-align: center;
padding: 25vh 0 25vh 00;
}

.finalen p{
    font-size: 20rem;
    background-color: darkred;
    text-align: center;
    height: 100vh;
    padding: calc(50vh - 25rem) 0 0 0;
}
p img{
    padding:5rem 0 5rem 0;
    width: 15vw;
}
