

html {
font-size: 18px;
font-family: "open sans", sans-serif;
background-color: rgb(255, 196, 124);
}

body{
    width: 1440;
    margin: 0 120px;
    border: 10px dotted rgb(255, 248, 240);
    border-top-style: none;
    background-color: rgb(255, 228, 196);
    padding: 24px;
}

H1{
    font-size: 36px;
    text-align: left;
    margin: 0;
    color: rgb(126, 91, 47);
    padding: 20px 0 0 0;
}
li {
    font-size: 12px;
    line-height: 1.4; 

}
img{
    display: block;
    margin: 0 auto;
    max-width: 50%;
}
